*,
*::before,
*::after{
    box-sizing: inherit;/*text fits into box*/
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 10;/*To overlay another div*/
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
h1, h2, h3{
    font-family: 'ubuntu', sans-serif;
    font-weight: 900;
    line-height: 1;
}

p{
    font-size: 16px;
} 

/* h1, h2, h3, p{
    margin-bottom: 2em;
} */
/* img{
    max-width: 100%;
    display: block;
} */
html, body{
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x:hidden ;/*prevents white spaces on the sides */
    line-height: 1.5;/*space between all text*/
}


.split{
    padding: max(3vh, 1.5rem);
    position: relative;
}

.maxwidth{
    width: min(100%, 70vw) ;
    margin-inline:auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* navbar styling */
.navbar{
    position: fixed;
    /* min-width: 100%; */
    width: 100%;
    z-index: 999;
    padding: 1.2vh; 
    font-family: 'ubuntu', sans-serif;
    transition: all 0.3 ease;
    margin: auto auto auto;
}
.navbar.sticky {
    min-height: 6vh;
    padding: 1.2vh; 
    background:  linear-gradient(0.25turn,  rgb(0, 36, 70), rgb(5, 37, 85), rgb(0, 36, 70));
}

.navbar .maxwidth{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 14%;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    margin: auto;
}
.navbar .menu li a{
    display: block; /*returns navbar back when clicked */
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-left: 1.5vw;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(75, 213, 255);
}
/* Navbar1 */
.navbar1{
    position: fixed;
    /* min-width: 100%; */
    width: 100%;
    z-index: 999;
    padding: 1.2vh; 
    font-family: 'ubuntu', sans-serif;
    transition: all 0.3 ease;
    margin: auto auto auto;
    background:  linear-gradient(0.25turn,  rgb(0, 36, 70), rgb(5, 37, 85), rgb(0, 36, 70));
}
/* .navbar1.sticky {
    min-height: 6vh;
    padding: 1.2vh; 
    background:  linear-gradient(0.25turn,  rgb(0, 36, 70), rgb(5, 37, 85), rgb(0, 36, 70));
} */

.navbar1 .maxwidth{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 14%;
}

.navbar1 .menu1 li{
    list-style: none;
    display: inline-block;
    margin: auto;
}
.navbar1 .menu1 li a{
    display: block; /*returns navbar back when clicked */
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-left: 1.5vw;
    transition: color 0.3s ease;
}
.navbar1 .menu1 li a:hover{
    color: rgb(75, 213, 255);
}

/* menu btn styling */
.menu-btn{
    color: whitesmoke;
    font-size: 23px;
    cursor: pointer;
    display: none;
    z-index: 999;
}

.scrollupbtn{
    position: fixed;
    height: 1.8rem;
    width: 1.8rem;  
    right: 1.2%;
    bottom: 10vh;
    margin-bottom: -1.5vh;
    text-align: center;
    text-decoration: none;
    opacity: 0;/*Transparency*/
    color: whitesmoke;
    border-radius: 20%;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center;
    pointer-events: none;
    transition: all 0.5s ease;
    background:linear-gradient( rgb(15, 69, 131), rgba(3, 67, 162, 0.879), rgb(15, 69, 131));
    border: 3px solid rgb(15, 69, 131);
}
.scrollupbtn:hover{
      background:linear-gradient( rgb(15, 69, 131), rgb(75, 213, 255), rgb(15, 69, 131));
}
.scrollupbtn.active{
    bottom: 3vh;
    pointer-events: auto;
    opacity: 1;
}
.scrollupbtn i{
    font-size: 20px;
}
.scrollupbtn-show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

#logo {
    position: relative;
    display: inline-block;
    top: 0.15rem;
    height: 2.1rem;
    object-fit: cover;
}
/* home section styling*/
.home{
    display: flex;
    background: linear-gradient(rgb(3, 39, 80), rgba(61, 123, 182, 0.856));/*This code gets filled with the statement cover(down below)*/
    color: whitesmoke; 
    font-family: 'ubuntu', sans-serif;
    height: 100%;
    min-height: 100vh; 
    /* position:relative */
}
.home .maxwidth{
    width: 100%;
    position: relative;
    padding: 0 0 9% 0;    
}
.hpimg{  
    object-fit: cover;/*quality img*/
    position: relative;
    margin: 0 auto;
    /* top: 3rem; */
    left: 65%;
    max-height: 20rem;
    height: 100%;
    filter: drop-shadow(8px 8px 4px black);/*Shadow around whole img*/
}

.hpimg1{
    object-fit: cover;/*quality img*/
    position: relative;
    display: none;
    filter: drop-shadow(8px 8px 4px black);
}

.home-content{
    margin: 5% 17% -10rem;
    line-height: 1;
    width: 80%;
}
.home .home-content .text-1{ 
    font-size: 20px;
}
.home .home-content .text-2{
    font-size: 90px;
    font-weight: 600;
    margin-left: -1%;
    text-shadow: 2px 2px 5px whitesmoke;
}
.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}
.typing{
    color: rgb(3, 39, 80);
    text-shadow: 2px 2px 3px  rgb(3, 39, 80);
    font-weight: 500;
    position: relative;
    font-size: 35px;
    margin-left: 0;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px  rgb(6, 54, 108));
}
.typing::after {
    content: "";
    position: relative;
    right: -5px;
    width: 1px;
    height: 40%;
    border-right: 2px solid  rgb(3, 39, 80);
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 } /*Animation code */


/* social media links style*/
.icon{
    /* IOS style */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    animation: float 5s ease-in-out infinite;
    position: relative;
    margin: 0 2%;
    bottom: 2rem; 
    color: whitesmoke;
    font-size: 30px;
    overflow: auto;
    white-space: nowrap;
    filter: drop-shadow(5px 5px 5px #222);
}
.fa-facebook-f{
    animation-delay: 0s;
    transition: all ease 0.5s;
}
.fa-facebook-f:hover{
    color: rgb(0, 60, 255);
    
}
.fa-twitter {
    animation-delay: 1s;
    transition: all ease 0.5s;
}
.fa-twitter:hover {
    color: rgb(23, 222, 238);
}
.fa-instagram {
    animation-delay: 2s;
    transition: all ease 0.5s;
}
.fa-instagram:hover {
    color: rgb(238, 23, 173);
}
.fa-linkedin{
    animation-delay: 3s;
    transition: all ease 0.5s;
}
.fa-linkedin:hover {
    color: rgb(0, 49, 139);
}
@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}


/* Similar content styling code*/
section{
    padding: 3rem 0;
}
.container--narrow{
    max-width: 70rem;  
}
  
.about, .projects, .skills, .contact, .footer{
   font-family: 'Poppins', sans-serif; 
}
.about .about-content, 
.projects, .skills, .contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.subtitle{
    position: relative;
    text-align: center;
    color:rgb(3, 39, 80);
}
.about .title, .about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif ;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.about .title::after{
    content: "Who I am";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: rgb(15, 69, 131);
    padding: 5px;
    background: whitesmoke;
    transform: translateX(-50%);
}
/* Projects edit section style */

#projectAVG {
    text-align: justify;
    min-height: 100%;
    padding: 1% 0 8%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}
.containerAVG {
    margin: 5rem auto; /* Center the container horizontally */
    max-width: 960px; 
    padding: 0 10rem; /* Add some padding to the container */
}
.containerAVG h1{
    margin: 0 0;
    text-align: center;
}
.containerAVG p{
    margin: 2rem auto;
}
.imgAVG p{
    margin: 0 auto;
}

.imgAVG {
    margin: 0 auto; /* Center the image and text within the div */
    max-width: 100%;
}

.imgAVG img {
    max-width: 100%;
    min-height: 20rem;

    /* min-height: 10rem; */
    object-fit: cover;/*quality img*/
    /* position: relative; */
}
  
/* About section styling*/
section{
    padding: 100px 0;
}

.about .about-content .left{
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative; 
    display:inline-block; 
    padding: 10% 8% 0% 10%;
    margin: auto;
}
.about .about-content .left img{
    /* max-height: 20rem; */
    /* min-width: 13rem; */
    height: 18rem;
    width: 18rem;
    object-fit: cover;
    border-radius: 100%;
    border: 6px solid rgb(15, 69, 131);
    position: relative; 
    padding: 0.5%;
    margin-top: -20%;
    /* display: inline-block; */
}
.about .about-content .right{
    min-width: 50%;
    width: 50%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.about .about-content .right .text span{
    color:rgb(15, 69, 131);
}
.about .about-content .right p{
    text-align: justify;
}
.buttonb{
    border-radius: 4px;
    background-color: rgb(15, 69, 131);
    border:rgb(7, 50, 99);  
    text-align: center;
    font-size: 13px;
    padding: 0.35rem;
    width: 7rem;
    transition: all 0.5s;
    cursor: pointer;    
    color: #FFFFFF;
    display:inline-block;
    margin: 0.5rem 5rem;
}
.buttonb a{
    color: #FFFFFF;
}
.buttonb span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.buttonb span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    transition: 0.5s;
}
  
.buttonb:hover span {
    padding-right: 0.8rem;
}
  
.buttonb:hover span:after {
    opacity: 1;
    right: 0;
}
  
.containerb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid blue;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #111;
    -webkit-box-reflect: below 0px linear-gradient
    (transparent, #0002);
}
/*Work Experience section styling*/

.projects .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
}
.projects .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.projects .title::after{
    content: "Gallery";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: rgb(15, 69, 131);
    padding: 5px;
    background: whitesmoke;
    transform: translateX(-50%);
}
.subtext{
    text-align: center;
    margin: 3rem;
}
.projects .subtext, .skills .subtext{
    text-align: justify;
    margin: 3rem 13rem;
}
 
.s-box{
    background-color: rgb(15, 69, 131);
    /* max-width: 12rem; */
    height: 20rem;
    width: 17rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
    margin: 5% 20vw;
}
.s-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3ms;
    box-shadow:  0 0 40px 15px rgb(0, 87, 187);
}
.s-box.highlight {
    z-index: 1;
    /* Add styles to highlight the project box */
  }
  
.s-b-container{
    justify-content: center;
    align-items: center;
    grid-gap: 1px;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0%;
    margin: auto ;
    display: grid;
    grid-template-columns: auto 40% auto auto;
    /* opacity: 0;
    transition: opacity 7s; */
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
/*.hide {
    opacity:0;
    left:-100%;
}
.s-b-container .show {
    opacity:1;
    left:0;
} */
/* .s-b-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 5% 0;
    opacity: 0;
    transition: opacity 10s;
  } */
  
  .s-b-container.show {
    opacity: 1;
  }
.s-b-img{
    width: 100%;
    height: 65%;
}
.s-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.s-b-text{
    background-color: rgb(15, 69, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 10% 3% 2%;
}
.s-b-text a{
    margin: auto;
    color: #ffff;
    font-size: 1.1rem;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    text-align: center;
    word-wrap: break-word;
}
.s-type{
 
    color: #fff;
    background-color:  rgb(0, 140, 255);
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.s-b-text a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

/* Skills section styling */
.skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif ;
}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.skills .title::after{
    content: "knowledge";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: rgb(15, 69, 131);
    padding: 5px;
    background: whitesmoke;
    transform: translateX(-50%);
}

.skills .carousel .card{
    background:  linear-gradient(0.25turn, rgb(15, 69, 131), rgba(3, 67, 162, 0.879), rgb(15, 69, 131));
    width: 97%;
    height: 25rem; 
    border-radius: 10px;
    /* padding: 2px 3px; */
    transition: all 0.3 ease;
    position: relative;
    justify-content: center;
    color: whitesmoke;
    align-items: center;
    display:block; 
    white-space: normal;
    word-break:break-all;
    text-align: center;
    margin: auto;
    padding: 25px 35px;
    margin-top: 10vh;
}

.skills .carousel .card:hover{
    background: linear-gradient(0.25turn, rgb(72, 132, 201), rgb(114, 169, 233), rgb(72, 132, 201));
    color: black;
}
.skills .carousel .card .text { 
    font-size: 25px;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 1px 1px 10px whitesmoke;
    margin: auto;
    word-break:break-all;
    text-align: center;
    position: relative;
}
.box p{
    word-break:break-all;
    color: whitesmoke;
    padding: 1% 5% 0% 5%; 
}
.skills .carousel .card .box{ 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3 ease;
    padding: 5% 5%;
}
.skills .carousel .card:hover .box{
    transform: scale(1.05);
}
.skills .carousel .card img{
    padding: 1% 1%;
    height: 10rem;
    width: 10rem;
    object-fit: scale-down;
    border-radius: 50%;
    border: 6px solid whitesmoke;
    margin: auto;
}
.skills .carousel .card:hover img{
    border-color: whitesmoke ;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(15, 69, 131)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: linear-gradient(rgb(3, 39, 80),  rgba(3, 67, 162, 0.879))!important;
}

/*contact section styling*/
.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif ;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.contact .title::after{
    content: "Get in touch";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: rgb(15, 69, 131);
    padding: 5px;
    background: whitesmoke;
    transform: translateX(-50%);
}

.containerc{
    top: 13rem;
    padding: 0.1rem;
    width: 60rem;
    position: relative;
    margin: auto; 
    /* overflow: hidden;   */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0; /*Helps to not override other divs*/
}
.form{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.contct-form{
    background-color: rgb(38, 122, 248);
    position: relative;
}

.circle{
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, skyblue);
    position: absolute;
}
.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: 30px;
}

.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contct-form:before {
    content:"";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgb(38, 122, 248);
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
} 

.titlec{
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
} 
.input-container{
    position: relative;
    margin: 1rem 0;
}
.input{
    width: 100%;
    outline: none;
    border: 2px solid white;
    background: none;
    padding: 0.6rem 1.2rem;
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input{
    padding:0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow: auto;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: whitesmoke;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);  
}

.btn{
    padding: 0.6rem 1.3rem;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    font-size: 0.95rem;
    color: rgb(45, 151, 186);
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn:hover {
    background-color: transparent;
    color: whitesmoke;
}

.input-container span{
    position: absolute;
    top: 0px;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4%;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span::before,
.input-container span::after {
    content:"";
    position: absolute;
    left: -2px;
    width: 50px;
    height: 5px;
    opacity: 0;
    transition: 0.3s;
    background-color: rgb(38, 122, 248);
    top: 50%;
    transform: translateY(-50%);
}
.input-container span::before{
    left: 50%;
}

.about-content span::after{
    right: 50%;
} 

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 20px;
    font-size: 0.8rem;
}
.input-container.focus span:before,
.input-container.focus span:after{
    width: 54%;
    opacity: 1;
}
.contct-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}
.contct-info .titlec{
    color: rgb(38, 122, 248);
}
.text{
    color: #111;
    margin: 1.5rem 0 2rem 0;
}
.information{
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}
.icon1{
    width: 28px;
    margin-right: 0.7rem;
}
.contct-info::before{
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid rgb(38, 122, 248);
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}
.big-circle{
    position: absolute;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(38, 122, 248), rgb(24, 89, 185));
    bottom: 25rem;
    right: 51%;
    transform: translate(-40%, 38%);
    margin: 30px 90px;
}
.big-circle::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
}
/* footer section styling*/
  footer{
    background: linear-gradient(0.25turn,  rgb(0, 36, 70), rgb(5, 37, 85), rgb(0, 36, 70));;
    padding: 0.9% 2%;
    text-align: center;
    color: #f2f2f2;

  left: 0;
  bottom: 0;
  width: 100%;
  }
  footer span a{
      color: rgb(32, 185, 255);
      text-decoration: none;
  }
  footer span a:hover{
      text-decoration: underline;
  }
  /* Height/Width Website*/ 
    .home .maxwidth{
    }
    .about .maxwidth, 
    .skills .maxwidth{
    min-height: 100%;
    padding: 0 0 1% 0;
    }
    .projects .maxwidth{
    padding: 0 0 0% 0;
    }
    .contact .maxwidth{
    padding: 0 0 15% 0;
    min-width: 100%;
    }

    
  /*Viewport section*/
    @viewport{
    zoom: 1.0;
    width: extend-to-zoom;
    }
    @-ms-viewport{/*Internet Explorer fix*/
    widht: extend-to-zoom;
    zoom: 1.0;
    }


/*responsive media query start*/
@media (max-width: 1432px){

    .projects .subtext, .skills .subtext{
        text-align: justify;
        margin: 0 0;
    }
    .home .home-content .text-2{
        font-size: 80px;    
        width: 100%;  
    }
    
    
}


/* Laptop */
@media (max-width: 1200px) and (orientation: landscape) {
    .projects .subtext, .skills .subtext{
        text-align: justify;
        margin: 3rem auto;
    }
     /* .skills .skills-content .column{
        width: calc(100% - 20px);
    } */
    .home-content{
        margin:5rem 17% -10rem;
    }
    .home .home-content .text-2{
        font-size: 68px;    
        width: 100%;  
    }
    
    .about .about-content .left{
        width: 50%;
        justify-content: center;
        align-items: center;
        position: relative; 
        display:inline-block; 
        padding: 5rem 0 0 0;
        margin: auto;
    } 
    .s-box{
        height: 35vh;
        width: 15rem;
        margin: 5% 20vw;
    }
    .s-b-container{
        grid-template-columns: auto 45% auto auto;
    }
    .skills .carousel .card{
        /* width: 100%;
        height: 25rem;   */
        /* padding: 5% 5% 80% 5%; */
    }
     .containerc{
        width: 55rem;
        top: 5rem;
        padding: 0.1rem;
    }
    .big-circle{
        display: none;
    }
    footer{
        padding: 1.3rem 2rem;
    }
}

@media (max-width: 960px){
     /*Height Website*/     
    .home .maxwidth{
        min-height: 100%;
        padding: 0 0 5% 0;
    }
    .projects .subtext, .skills .subtext{
        text-align: justify;
        margin: 3rem auto;
    }
    .about .maxwidth, 
    .projects .maxwidth, 
    .skills .maxwidth,
    .contact .maxwidth{
    min-height: 100%;
    padding: 0 0 20% 0;
    } 
    #logo{
        margin: 0% -70%;
    }
    /*Maxwidth Responsive*/
    .contact .maxwidth{
        min-width: 100%;
    }
    .projects .maxwidth{
        min-width: 90%;
    } 
    .skills .maxwidth{
        min-width: 100%;
    } 
    .about .maxwidth{
        min-width: 95%;
    } 
    .menu-btn{
        display: block;
        margin: 0% -15%;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0%;     
        background: linear-gradient(rgb(3, 39, 80), rgb(61, 124, 182));
        text-align: center;
        transition: all 0.8s ease;
    }
    .navbar .menu.active{
        display: block;
        left: 0;
    }
    .navbar .menu li{
        display: block;
        margin: 7% auto;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    
    /* Non activated Navbar */
    .navbar1 .menu1{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0%;     
        background: linear-gradient(rgb(3, 39, 80), rgb(61, 124, 182));
        text-align: center;
        transition: all 0.8s ease;
    }
    .navbar1 .menu1.active{
        /* display: block; */
        left: 0;
    }
    .navbar1 .menu1 li{
        display: block;
        margin: 7% auto;
    }
    .navbar1 .menu1 li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
   
    .about .about-content .column{
        width: 100%;
    }
    /* .about .about-content .left{
       display: flex;
       justify-content: center;
       margin: 0 auto 60px;
    } */
 
    .form{
        grid-template-columns: 1fr;
    }

    section{
        padding: 2rem 1rem;
    }
    .split > * {
        flex-basis:100% ;
    }
    .split{
        padding: max(0.5vh, 0.1rem);
    }
   
    .social .icon{
        top: 7rem;
        left: -1.5rem;
        animation: none;
        font-size: 23px;
    }
    .home-content{
        margin: 15% 5%;
        line-height: 1.1;
        width: 100%;
    }
    .home .home-content .text-1{
        font-size: 15px;
        margin-left: 0rem;
    }
    .home .home-content .text-2{
        font-size: 65px;    
        width: 100%;  
    }
    .home .home-content .text-3{
        font-size: 20px;
        line-height: 1.1;
    }
    .typing{
        position: relative;
        font-size: 30px;
        top: 0.5rem;
        margin-left: 0%;
        color: rgb(69, 151, 245);
        text-shadow: 2px 2px 3px  rgb(69, 151, 245);
    }
    .typing::after {
        border-right: 2px solid  rgb(69, 151, 245);
    }
    .hpimg{  
        display: none;
    }
    .hpimg1{  
        display: flex;
        margin: 0 50%;
        height: 100%;
        max-height: 25rem;
    }
    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    form, .contct-info{
        padding: 10% 10%;
    }
    
    .contct-info .titlec {
        text-align: center;
    }
    .about .about-content .right .text {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 1%;
        text-align: center;
    }
    /* .buttonb{
        margin: auto;
    } */
    .Hbutton{
        display: flex;
    }
    .buttonb{
        padding: max(0.1vh, 0.5rem);
        margin: 5% auto;
    } 
    .buttonb:hover span {
        padding-right: 0.8rem;
    }
    .icon1{
        width: 32px;
    }
    .input{
        padding: 0.45rem 1.2rem;
    }
    .btn{
        padding: 0.45rem 1.2rem;
    } 
    .about .about-content .right{
        position: relative;
    }
    .about .about-content .left img{
        margin: 1% auto; 
        display: flex;
    }
    .s-box{
        width: 14rem;
        height: 18rem;
        margin: 3rem;
        position: relative;
    }

    .s-b-container{
        margin: -6.5rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 1px 1px;
        margin-top: 10px;
    }
    .skills .carousel .card{
        /* width: 15rem;
        height: 25rem;   */
        /* padding: 5% 5% 80% 5%; */
        margin: auto;
        max-width: 25rem;
    }
    .box p{
        width: 100%;
        padding: 0 1% 10%; 
    }
    
    .containerc{  
        width: 40rem;
        top: 5rem;
        padding: 0.1rem;
        margin: auto;
        position: flex;
     }
    .contct-info::before{
        display: none;
    }
    .big-circle{
        display: none;
    }
    footer{
        background: linear-gradient(0.25turn,  rgb(0, 36, 70), rgb(5, 37, 85), rgb(0, 36, 70));;
        padding: 2% 2%;
        text-align: center;
        color: #f2f2f2;
        /* z-index: 999; */
    }
}
/* Laptop */
@media all and (max-width: 768px) {
    
    .home .maxwidth{
        min-height: 100%;
        padding: 0 0 20% 0;
    }
    .about .maxwidth, 
    .projects .maxwidth, 
    .skills .maxwidth,
    .contact .maxwidth{
    min-height: 100%;
    padding: 0 0 50% 0;
    } 
   .scrollupbtn{
       display: none;
   }
    .split > * {
        flex-basis:100% ;
    }
    .split{
        padding: max(0.5vh, 0.1rem);
    }

    #logo{
        margin: 0% -60%;
    }
    .menu-btn{
        margin: 0% -13%;
    }
   
    .social .icon{
        top: 5rem;
        left: -1rem;
        font-size: 23px;
    }
    .home-content{
        margin: 15% 10%;
        line-height: 1.1;
        width: 100%;
    }
    .home .home-content .text-1{
        font-size: 15px;
        margin-left: 0rem;
    }
    .home .home-content .text-2{
        font-size: 45px;      
    }
    .home .home-content .text-3{
        font-size: 20px;
        line-height: 1.1;
    }
    .typing{
        position: relative;
        font-size: 25px;
        top: 0.5rem;
        color: rgb(69, 151, 245);
        text-shadow: 2px 2px 3px  rgb(69, 151, 245);
    }
    .typing::after {
        border-right: 2px solid  rgb(69, 151, 245);
    }
    .hpimg{  
        display: none;
    }
    .hpimg1{  
        margin: 0% auto;
        height: 100%;
        max-height: 23rem; 
    }

    .icon1{
        width: 30px;
    }
    .input{
        padding: 0.45rem 1.2rem;
    }
    .btn{
        padding: 0.45rem 1.2rem;
    } 
    .about .about-content .right{
        position: relative;
    }
    
    /* AVG page */
    .containerAVG {
        margin: 7rem auto; /* Center the container horizontally */
        max-width: 100%;
        padding: 0 2rem;/* Add some padding to the container */
    }
   
    .containerAVG p{
        margin: 2rem auto; /* Center the <p> text horizontally */
        text-align: justify;
    }
    .imgAVG p{
        margin: 0 auto;
    }
    
    .imgAVG {
        margin: 0 auto; /* Center the image and text within the div */
        max-width: 100%;
    }
    
    .imgAVG img {
        max-width: 100%;
        height: 20rem;
    }
    .s-box{
        width: 14rem;
        height: 18rem;
        margin: 1rem;
        position: relative;
    }
    .s-b-container{     
        display: grid;
        margin-top: 10vh;
    }
    .s-b-img img{
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }
    .s-b-text{
        padding: 11% 10% 3% 2%;
    }
    .subtext{
        margin: 2rem 0%;
    }

    form, .contct-info{
        padding: 10% 10%;
    }
    .contct-info .titlec {
        text-align: center;
    }
    .containerc{ 
        top: 10px;
        width: 100%;
        max-width: 35rem;
        padding: 0.5rem;
        display: flex;
     }
    .contct-info::before{
        display: none;
    }
    .big-circle{
        display: none;
    }
    footer{
        padding: 1.3rem 2rem;
    }
} 

@media all and (max-width: 500px) {
    .open-popup{
        top: 70%;
    }
    .split > * {
        flex-basis:100% ;
    }
    .split{
        padding: max(0.5vh, 0.1rem);
    }

    #logo{
        margin: 0% -30%;
    }   
    .menu-btn{
        margin: 0% -10%;
    }
    .hpimg1{  
        margin: 15% auto;
    }
    .home-content{
        margin: 15% 5%;
        line-height: 1.1;
        width: 100%;
    }
    .home .home-content .text-1{
        font-size: 15px;
        margin-left: 0rem;
    }
    .home .home-content .text-2{
        font-size: 28px;      
    }
    .home .home-content .text-3{
        font-size: 18px;
        line-height: 1.1;
    }
    .social .icon{
        top: 1rem;
        left: -0.7rem;
    }
    .about .about-content .left img{
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 18rem; 
        max-width: 18rem;
    }
    /* AVG page */
    .containerAVG {
        margin: 7rem auto; /* Center the container horizontally */
        max-width: 100%;
        padding: 0 2rem;/* Add some padding to the container */
    }
   
    .containerAVG p{
        margin: 2rem auto; /* Center the <p> text horizontally */
        text-align: justify;
    }
    .imgAVG p{
        margin: 0 auto;
    }
    
    .imgAVG {
        margin: 0 auto; /* Center the image and text within the div */
        max-width: 100%;
    }
    
    .imgAVG img {
        max-width: 100%;
        height: 10rem;
    }
    .s-b-text{
        display: none;
    }
    .s-box{
        width: 10rem;
        height: 13rem;
        position: relative;
    }
    .s-b-container{     
        display: grid;
        grid-template-columns: auto 35% auto auto;
        margin-top: 5vh;
    }
    .icon1{
        width: 30px;
    }
    .input{
        padding: 0.45rem 1.2rem;
    }
    .btn{
        padding: 0.45rem 1.2rem;
    } 

    form, .contct-info{
        padding: 10% 10%;
    }
    .contct-info .titlec{
        text-align: center;
    }
    .containerc{  
        width: 100%;
        top: 10px;
        padding: .1rem;
        margin: auto;
     }
    .contct-info::before{
        display: none;
    }
    .big-circle{
        display: none;
    }
    footer{
        padding: 1.2rem 0.5rem;
    }
} 

/* @media all and (max-width: 320px) {
    .scrollupbtn{
        display: none;
    }
    section{
        padding: 2rem 1rem;
    }
    .split > * {
        flex-basis:100% ;
    }
    .split{
        padding: max(0.5vh, 0.1rem);
    }

    #logo{
        margin: 0% -25%;
    }
    .menu-btn{
        margin: 0% -10%;
    }
   
    .icon{
        position: relative;
        left: 0%;      
        font-size: 23px;
        margin: 15% 3%;
    }
    .home-content{
        margin: 5% -2%;
        line-height: 1.1;
    }
    .home .home-content .text-1{
        font-size: 10px;
        margin-left: 2%;
    }
    .home .home-content .text-2{
        font-size: 40px;      
    }
    .home .home-content .text-3{
        font-size: 12px;
    }
    .typing{
        position: relative;
        font-size: 20px;
        margin-left: 4%;
        color: rgb(69, 151, 245);
        text-shadow: 2px 2px 3px  rgb(69, 151, 245);
    }
    .hpimg{  
        object-fit: none;/*quality img*/
        /* display: block;
        position: relative;
        height: 200%;
        width: 150%;
        margin: 49% 0%;
    }
    .hpimg1{  
        display: none;

    }
    form, .contct-info{
        padding: 10% 10%;
    }
    /* .text, .information, p{
        font-size: 1.1rem;
        margin: auto auto;
        padding: 1% 1%;
        margin-top: 2%;

    } */
    /* .contct-info .titlec {
        text-align: center;
    }
    .about .about-content .right .text {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: -5%;
        text-align: center;
    }
    .buttonb{
        margin-top: min(-95%);
        margin-left: min(20%);
        position: absolute; 
        min-height: auto;
        align-items: center;
        justify-content: space-between;     
    }
    .icon1{
        width: 32px;
    }
    .input{
        padding: 0.45rem 1.2rem;
    }
    .btn{
        padding: 0.45rem 1.2rem;
    } 
    .about .about-content .right{
        position: relative;
    }
    .about .about-content .left img{
        align-items: center;
        justify-content: space-between;
    }
    .s-box{
        margin: 25px;
        position: relative;
    }
    .s-b-container{     
        display: grid;
        grid-template-columns: auto 35% auto auto;
        margin-top: 10px;
    }
    .skills .carousel .card { */
        /* padding: 10% 15%; */
    /* }
    /*Min-height Responsive*/
    /* .home{
        min-height: 100vh;
    }
    .about{
        min-height: 100vh;
    } 
    .projects{
        min-height: 100vh;
    } 
    .contact{
        min-height: 100vh;
    }
    .skills{
        min-height: 50vh;
    }
    .containerc{  
        position: relative;
        padding: 7%; 
        top: 10px;
        z-index: 0; /*Helps to not override other divs */
       /* margin: -10%;
        min-height: auto;
        align-items: center;
        justify-content: space-between; 
     }
    .contct-info::before{
        display: none;
    }
    .big-circle{
        display: none;
    }
 
}  */